*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}/* Manter afastados das bordas os elementos da página / Fonte  */

body{
    background-color: var(--primary-color);
    height: 100vh;
}

.interface{
    max-width: 1920px;
    margin: 0 auto;
}

.logo{
    margin: 20px;
}

/* Estilo do Cabeçalho*/
header{
    padding: 10px 2%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(196, 196, 196);
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}
header a:hover{
    color: whitesmoke;
    color: var(--secondary-color);
    transform: scale(1.20);   
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

#icon{
    width: 30px;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

:root{
    --primary-color:black;
    --secondary-color: white;
}

.dark-mod{
    --primary-color: rgb(255, 255, 255);
    --secundary-color: rgb(0, 0, 0);
}

